<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <title>瓜果超市</title>
</head>

<body>
  <div id="app">
    <el-input size="medium" v-model="keywords" placeholder="请输入内容" style="width:200px"></el-input>
    <el-button @click="search">搜索</el-button>
    <el-tabs v-model="activeName" type="card" @tab-click="handleClick" style="margin-top:20px">
      <el-tab-pane :label="item.name" :name="item.type" v-for="(item, index) in tabList" :key="index"></el-tab-pane>
    </el-tabs>
    <el-table
      :data="fruits"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="水果名称"
        width="180">
      </el-table-column>
      <el-table-column
        prop="price"
        label="价格"
        width="180">
      </el-table-column>
      <el-table-column
        prop="categray"
        label="分类"
        width="180">
      </el-table-column>
    </el-table>
    <el-pagination layout="prev, pager, next" @current-change="currentChange" :total="total"></el-pagination>
  </div>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        page: 1,
        total: 0,
        fruits: [],
        tabList: [],
        activeName: '',
        keywords: ''
      },
      created() {
        this.getData();
        this.getCateGray()
      },
      methods: {
        currentChange(page) {
          this.page = page;
          this.getData();
        },
        getData() {
          axios
            .get(`/api/list?page=${this.page}&keywords=${this.keywords}&categray=${this.activeName}`)
            .then(res => res.data)
            .then(({
              data
            }) => {
              console.log(data)
              this.fruits = data.data;
              this.total = data.pagination.total;
            });
        },
        getCateGray() {
          axios
            .get(`/api/cateGray`)
            .then(res => res.data)
            .then(({
              data
            }) => {
              console.log(data)
              this.tabList = data.data;
              this.tabList.unshift({
                name: '全部', type: ''
              })
            });
        },
        // 点击tab
        handleClick() {
          console.log(this.activeName)
          this.page = 1
          this.getData()
        },
        // 搜索
        search() {
          this.page = 1
          this.getData()
        }
      }
    });
  </script>
</body>

</html>